## Generating Synthetic Data (CTGAN)

## Install CTGAN

In [1]:
import os, sys
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# Install CTGAN, generative model for tabular data.
my_path = '/content/notebooks'
os.symlink('/content/drive/MyDrive/Colab Notebooks/my_env', my_path)
sys.path.insert(0, my_path)
!pip install --target=$pack_path ctgan

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ctgan
  Using cached ctgan-0.6.0-py2.py3-none-any.whl (24 kB)
Collecting rdt<2.0,>=1.2.0
  Using cached rdt-1.2.1-py2.py3-none-any.whl (61 kB)
Collecting torchvision<1,>=0.9.0
  Downloading torchvision-0.14.0-cp37-cp37m-manylinux1_x86_64.whl (24.3 MB)
     |████████████████████████████████| 24.3 MB 82.5 MB/s
Collecting scikit-learn<2,>=0.24
  Downloading scikit_learn-1.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (24.8 MB)
     |████████████████████████████████| 24.8 MB 1.4 MB/s
Collecting numpy<2,>=1.20.0
  Downloading numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 54.5 MB/s
Collecting packaging<22,>=20
  Downloading packaging-21.3-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 6.7 MB/s
Collecting torch<2,>=1.8.0
  Downloading torch-1.13.0-cp37-cp37m-manylinux1_x86_64.whl (890.2 MB)
     |██████████████████████████████  | 834.1 MB 1.2 MB/s eta 0:00:46tcmalloc: large alloc 1147494400 bytes == 0x3d06e000 @  0x7feebab2e615 0x58ead6 0x4f355e 0x4d222f 0x51041f 0x5b4ee6 0x58ff2e 0x510325 0x5b4ee6 0x58ff2e 0x50d482 0x4d00fb 0x50cb8d 0x4d00fb 0x50cb8d 0x4d00fb 0x50cb8d 0x4bac0a 0x538a76 0x590ae5 0x510280 0x5b4ee6 0x58ff2e 0x50d482 0x5b4ee6 0x58ff2e 0x50c4fc 0x58fd37 0x50ca37 0x5b4ee6 0x58ff2e
     |████████████████████████████████| 890.2 MB 7.0 kB/s
Collecting pandas<2,>=1.1.3
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 48.2 MB/s
Collecting pyparsing!=3.0.5,>=2.0.2
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 9.7 MB/s
Collecting python-dateutil>=2.7.3
  Downloading python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
     |████████████████████████████████| 247 kB 71.8 MB/s
Collecting pytz>=2017.3
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     |████████████████████████████████| 498 kB 69.4 MB/s
Collecting six>=1.5
  Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting scipy<1.8,>=1.5.4
  Downloading scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
     |████████████████████████████████| 38.1 MB 1.2 MB/s
Collecting Faker>=10
  Using cached Faker-15.3.1-py3-none-any.whl (1.6 MB)
Collecting psutil<6,>=5.7
  Using cached psutil-5.9.4-cp36-abi3-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (280 kB)
Collecting pyyaml<6,>=5.4.1
  Using cached PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
Collecting typing-extensions>=3.10.0.1
  Downloading typing_extensions-4.4.0-py3-none-any.whl (26 kB)
Collecting joblib>=0.11
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     |████████████████████████████████| 297 kB 70.1 MB/s
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting nvidia-cuda-runtime-cu11==11.7.99
  Downloading nvidia_cuda_runtime_cu11-11.7.99-py3-none-manylinux1_x86_64.whl (849 kB)
     |████████████████████████████████| 849 kB 63.0 MB/s
Collecting nvidia-cuda-nvrtc-cu11==11.7.99
  Downloading nvidia_cuda_nvrtc_cu11-11.7.99-2-py3-none-manylinux1_x86_64.whl (21.0 MB)
     |████████████████████████████████| 21.0 MB 1.2 MB/s
Collecting nvidia-cudnn-cu11==8.5.0.96
  Downloading nvidia_cudnn_cu11-8.5.0.96-2-py3-none-manylinux1_x86_64.whl (557.1 MB)
     |████████████████████████████████| 557.1 MB 11 kB/s
Collecting nvidia-cublas-cu11==11.10.3.66
  Downloading nvidia_cublas_cu11-11.10.3.66-py3-none-manylinux1_x86_64.whl (317.1 MB)
     |████████████████████████████████| 317.1 MB 33 kB/s
Collecting wheel
  Downloading wheel-0.38.4-py3-none-any.whl (36 kB)
Collecting setuptools
  Downloading setuptools-65.5.1-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 61.5 MB/s
Collecting pillow!=8.3.*,>=5.3.0
  Downloading Pillow-9.3.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
     |████████████████████████████████| 3.2 MB 57.4 MB/s
Collecting requests
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.8 MB/s
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 128 kB/s
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 73.7 MB/s
Collecting certifi>=2017.4.17
  Downloading certifi-2022.9.24-py3-none-any.whl (161 kB)
     |████████████████████████████████| 161 kB 68.7 MB/s
Collecting charset-normalizer<3,>=2
  Downloading charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Installing collected packages: wheel, setuptools, six, nvidia-cublas-cu11, numpy, urllib3, typing-extensions, threadpoolctl, scipy, pytz, python-dateutil, nvidia-cudnn-cu11, nvidia-cuda-runtime-cu11, nvidia-cuda-nvrtc-cu11, joblib, idna, charset-normalizer, certifi, torch, scikit-learn, requests, pyyaml, pyparsing, psutil, pillow, pandas, Faker, torchvision, rdt, packaging, ctgan
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython 7.9.0 requires jedi>=0.10, which is not installed.
torchtext 0.13.1 requires torch==1.12.1, but you have torch 1.13.0 which is incompatible.
torchaudio 0.12.1+cu113 requires torch==1.12.1, but you have torch 1.13.0 which is incompatible.
thinc 8.1.5 requires typing-extensions<4.2.0,>=3.7.4.1; python_version < "3.8", but you have typing-extensions 4.4.0 which is incompatible.
spacy 3.4.2 requires typing-extensions<4.2.0,>=3.7.4; python_version < "3.8", but you have typing-extensions 4.4.0 which is incompatible.
confection 0.0.3 requires typing-extensions<4.2.0,>=3.7.4.1; python_version < "3.8", but you have typing-extensions 4.4.0 which is incompatible.
Successfully installed Faker-15.3.1 certifi-2022.9.24 charset-normalizer-2.1.1 ctgan-0.6.0 idna-3.4 joblib-1.2.0 numpy-1.21.6 nvidia-cublas-cu11-11.10.3.66 nvidia-cuda-nvrtc-cu11-11.7.99 nvidia-cuda-runtime-cu11-11.7.99 nvidia-cudnn-cu11-8.5.0.96 packaging-21.3 pandas-1.3.5 pillow-9.3.0 psutil-5.9.4 pyparsing-3.0.9 python-dateutil-2.8.2 pytz-2022.6 pyyaml-5.4.1 rdt-1.2.1 requests-2.28.1 scikit-learn-1.0.2 scipy-1.7.3 setuptools-65.5.1 six-1.16.0 threadpoolctl-3.1.0 torch-1.13.0 torchvision-0.14.0 typing-extensions-4.4.0 urllib3-1.26.12 wheel-0.38.4

In [ ]:
# set device: GPU
import torch
torch.cuda.current_device()

0

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import copy
import time
import pickle
from collections import defaultdict
from itertools import islice, combinations
from datetime import datetime as dt
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt

from ctgan import CTGAN

In [ ]:
# # Control Width of Jupyter Cells
# from IPython.core.display import display, HTML
# display(HTML("<style>.container { width:100% !important; }</style>"))
# t_node_interactivity = "all"
# pd.set_option('display.max_colwidth', -1)
# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

# print('ready to run')
# # Log Running Time
# startTime = time.time()

ready to run

## Preprocess Source Data

In [7]:
%cd drive/MyDrive/Customs-Declaration-Datasets-en/

/content/drive/MyDrive/Customs-Declaration-Datasets-en

In [14]:
# Load train data
df_raw=pd.read_csv('./data/df_syn_eng.csv', encoding='utf-8-sig')

In [15]:
# Select columns to use
df_org_merge=df_raw[["Declaration ID", "Date", "Office ID", "Process Type", "Import Type", "Import Use", "Payment Type", 
                  "Mode of Transport", "Declarant ID", "Importer ID", "Seller ID", "Courier ID", 
                  "HS10 Code", "Country of Departure", "Country of Origin",  "Tax Rate", "Tax Type", 
                   "Country of Origin Indicator", "Net Mass", "Item Price", "Fraud", "Critical Fraud"]]

In [16]:
df_org_merge['Date']=df_org_merge['Date'].astype(str)
df_org_merge['Date']=pd.to_datetime(df_org_merge['Date'])
df_org=df_org_merge.sort_values(by=['Date'], axis = 0)

In [19]:
# Sampling 3000 Train Data from Source Data
df_sample=df_org.sample(3000, replace=False)
df_sample.to_csv('./data/df_sample.csv', index=False, encoding='utf-8-sig')

In [20]:
# Aggregate Reletive Columns
cols = ['HS10 Code', 'Country of Departure', 'Country of Origin', 'Tax Rate', 'Tax Type', 'Net Mass','Fraud', 'Critical Fraud']
df_sample['Aggregated'] =df_sample[cols].apply(lambda row: '^'.join(row.values.astype(str)), axis=1)
df_sample=df_sample.drop(cols, axis=1)
df_sample=df_sample.drop(['Item Price'], axis=1)

In [21]:
df_sample['Date']=df_sample['Date'].astype('str')

# Run CTGAN

In [22]:
categorical_columns =['Declaration ID', 'Date','Process Type','Declarant ID','Importer ID','Seller ID',
                      'Courier ID','Country of Origin Indicator','Aggregated']

In [ ]:
# from ctgan import CTGANSynthesizer
# from ctgan import load_demo

In [23]:
ctgan = CTGAN(verbose=True)
ctgan.fit(df_sample, categorical_columns, epochs = 100)

Epoch 1, Loss G:  5.4992,Loss D: -0.1092
Epoch 2, Loss G:  5.6007,Loss D: -0.2241
Epoch 3, Loss G:  5.4361,Loss D: -0.2843
Epoch 4, Loss G:  5.6444,Loss D: -0.2499
Epoch 5, Loss G:  5.7653,Loss D: -0.3303
Epoch 6, Loss G:  5.5681,Loss D: -0.3937
Epoch 7, Loss G:  5.6935,Loss D: -0.3909
Epoch 8, Loss G:  5.8868,Loss D: -0.4679
Epoch 9, Loss G:  5.8095,Loss D: -0.5463
Epoch 10, Loss G:  5.7155,Loss D: -0.4423
Epoch 11, Loss G:  5.5077,Loss D: -0.3274
Epoch 12, Loss G:  5.7927,Loss D: -0.3641
Epoch 13, Loss G:  5.5797,Loss D: -0.1788
Epoch 14, Loss G:  5.2168,Loss D:  0.0635
Epoch 15, Loss G:  5.0230,Loss D:  0.0454
Epoch 16, Loss G:  4.9736,Loss D:  0.0331
Epoch 17, Loss G:  5.2149,Loss D:  0.0145
Epoch 18, Loss G:  4.9043,Loss D: -0.0628
Epoch 19, Loss G:  4.8072,Loss D:  0.0681
Epoch 20, Loss G:  4.4656,Loss D:  0.1701
Epoch 21, Loss G:  4.7738,Loss D:  0.1084
Epoch 22, Loss G:  4.5923,Loss D:  0.0197
Epoch 23, Loss G:  4.6754,Loss D:  0.0669
Epoch 24, Loss G:  4.5870,Loss D:  0.0349
Epoch 25, Loss G:  4.8601,Loss D:  0.0916
Epoch 26, Loss G:  4.7426,Loss D: -0.0047
Epoch 27, Loss G:  4.7059,Loss D: -0.0852
Epoch 28, Loss G:  5.1149,Loss D: -0.0745
Epoch 29, Loss G:  4.9593,Loss D: -0.0078
Epoch 30, Loss G:  4.6531,Loss D:  0.0635
Epoch 31, Loss G:  5.1390,Loss D: -0.0544
Epoch 32, Loss G:  5.0564,Loss D: -0.1732
Epoch 33, Loss G:  5.0043,Loss D: -0.0412
Epoch 34, Loss G:  4.7854,Loss D:  0.0733
Epoch 35, Loss G:  4.5907,Loss D: -0.0039
Epoch 36, Loss G:  4.4376,Loss D: -0.1665
Epoch 37, Loss G:  4.6952,Loss D: -0.1787
Epoch 38, Loss G:  4.5757,Loss D:  0.0126
Epoch 39, Loss G:  4.1752,Loss D:  0.0845
Epoch 40, Loss G:  4.7025,Loss D:  0.0272
Epoch 41, Loss G:  4.6632,Loss D: -0.1444
Epoch 42, Loss G:  4.8030,Loss D: -0.0390
Epoch 43, Loss G:  4.5927,Loss D:  0.0771
Epoch 44, Loss G:  4.7219,Loss D:  0.0094
Epoch 45, Loss G:  4.8108,Loss D: -0.1270
Epoch 46, Loss G:  4.5527,Loss D: -0.0273
Epoch 47, Loss G:  4.5646,Loss D: -0.0351
Epoch 48, Loss G:  4.6657,Loss D: -0.0592
Epoch 49, Loss G:  4.3734,Loss D:  0.0604
Epoch 50, Loss G:  4.3503,Loss D:  0.0623
Epoch 51, Loss G:  4.4864,Loss D: -0.0740
Epoch 52, Loss G:  4.6845,Loss D: -0.0672
Epoch 53, Loss G:  4.3947,Loss D: -0.0346
Epoch 54, Loss G:  4.3744,Loss D: -0.0034
Epoch 55, Loss G:  4.0812,Loss D: -0.0331
Epoch 56, Loss G:  4.5661,Loss D: -0.0625
Epoch 57, Loss G:  4.6012,Loss D: -0.1124
Epoch 58, Loss G:  4.1368,Loss D: -0.0726
Epoch 59, Loss G:  4.3610,Loss D:  0.0039
Epoch 60, Loss G:  4.2728,Loss D: -0.0276
Epoch 61, Loss G:  4.4565,Loss D: -0.0198
Epoch 62, Loss G:  4.0087,Loss D:  0.0019
Epoch 63, Loss G:  4.2424,Loss D: -0.0627
Epoch 64, Loss G:  4.3658,Loss D: -0.0602
Epoch 65, Loss G:  3.9868,Loss D: -0.0473
Epoch 66, Loss G:  4.1330,Loss D:  0.0685
Epoch 67, Loss G:  4.3094,Loss D:  0.0269
Epoch 68, Loss G:  3.9664,Loss D: -0.0178
Epoch 69, Loss G:  4.1823,Loss D: -0.0628
Epoch 70, Loss G:  4.1149,Loss D: -0.0068
Epoch 71, Loss G:  4.0789,Loss D: -0.0422
Epoch 72, Loss G:  4.3873,Loss D:  0.0044
Epoch 73, Loss G:  4.1758,Loss D:  0.0180
Epoch 74, Loss G:  4.0225,Loss D:  0.0588
Epoch 75, Loss G:  3.8600,Loss D: -0.0219
Epoch 76, Loss G:  3.8650,Loss D: -0.0978
Epoch 77, Loss G:  3.9591,Loss D: -0.0501
Epoch 78, Loss G:  3.8938,Loss D: -0.0654
Epoch 79, Loss G:  4.0326,Loss D: -0.0156
Epoch 80, Loss G:  3.3604,Loss D:  0.0326
Epoch 81, Loss G:  3.2961,Loss D: -0.0363
Epoch 82, Loss G:  3.2930,Loss D:  0.0067
Epoch 83, Loss G:  3.6433,Loss D: -0.0418
Epoch 84, Loss G:  3.5937,Loss D: -0.0424
Epoch 85, Loss G:  3.5147,Loss D: -0.0492
Epoch 86, Loss G:  3.4534,Loss D: -0.0422
Epoch 87, Loss G:  3.2150,Loss D: -0.0043
Epoch 88, Loss G:  3.3104,Loss D: -0.0340
Epoch 89, Loss G:  3.5473,Loss D: -0.1074
Epoch 90, Loss G:  3.3230,Loss D: -0.0114
Epoch 91, Loss G:  3.2154,Loss D: -0.0395
Epoch 92, Loss G:  3.1964,Loss D: -0.0727
Epoch 93, Loss G:  2.8271,Loss D: -0.0535
Epoch 94, Loss G:  2.9167,Loss D: -0.0660
Epoch 95, Loss G:  3.3481,Loss D: -0.0274
Epoch 96, Loss G:  3.1717,Loss D: -0.0012
Epoch 97, Loss G:  3.1437,Loss D: -0.1394
Epoch 98, Loss G:  2.9434,Loss D: -0.0474
Epoch 99, Loss G:  2.8607,Loss D: -0.0657
Epoch 100, Loss G:  2.8747,Loss D:  0.0951

In [24]:
# Create data as many as the number of sampled data
count_row = df_sample.shape[0] 
df_syn = ctgan.sample(count_row)

In [25]:
df_syn

,Declaration ID,Date,Office ID,Process Type,Import Type,Import Use,Payment Type,Mode of Transport,Declarant ID,Importer ID,Seller ID,Courier ID,Country of Origin Indicator,Aggregated
0,48649605,2020-10-04,31,B,11,21,19,40,E3Q8ABV,FAQBBWS,3KKQWHO,NaN,G,9031809099^PH^JP^1.3^C^11.9^1^1
1,83990938,2021-05-22,41,B,11,21,44,10,86E3KB0,B6SDM52,I86AB6I,NaN,E,6106201000^VN^VN^0.0^FVN1^79.8^0^0
2,50667114,2020-09-03,40,B,11,21,43,10,X09KN33,IKSA5YW,RB6HURK,NaN,E,2906199000^CN^CN^0.0^FCN1^100.0^0^0
3,11390124,2020-08-12,21,B,84,21,11,10,MRTAD2U,0T9AY7N,7PN0VA5,NaN,G,8301401010^CN^CN^8.0^A^6.0^0^0
4,51191871,2020-09-10,20,B,11,21,11,10,IBG3A46,3X6GY58,842QQZ5,NaN,G,6403999000^IT^IT^0.0^FEU1^2.7^0^0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,92685568,2021-02-01,32,B,10,21,45,11,OZB7KED,Y7K2P0D,NaN,NaN,G,6403999000^MT^CN^13.0^A^100.0^1^1
2996,24146768,2020-10-06,40,B,85,12,44,10,AZI5L7O,89P0ZBF,6WOOZSN,PIAN6F,Y,6206401000^CN^CN^13.0^A^217.0^0^0
2997,98823569,2021-02-01,41,B,10,21,45,41,ACL5K0W,51RX2UZ,NME7L1Q,NaN,G,6204599000^ES^CN^13.0^A^13.2^0^0
2998,41805945,2020-07-30,40,B,11,21,11,11,H1ZUISK,5W9THF3,U11PIYH,NaN,E,6104520000^FR^TR^13.0^A^10.0^0^0
2999,38914966,2020-03-12,41,B,10,21,43,40,E3Q8ABV,WVW45QU,818J1DT,W6UCD9,S,8518309000^CN^CN^4.8^FCN1^2.4^0^0

In [26]:
# Split aggregated column to original form
df_syn['HS10 Code']=df_syn["Aggregated"].str.split('^').str[0]
df_syn['Country of Departure']=df_syn["Aggregated"].str.split('^').str[1]
df_syn['Country of Origin']=df_syn["Aggregated"].str.split('^').str[2]
df_syn['Tax Rate']=df_syn["Aggregated"].str.split('^').str[3]
df_syn['Tax Type']=df_syn["Aggregated"].str.split('^').str[4]
df_syn['Net Mass']=df_syn["Aggregated"].str.split('^').str[5]
df_syn['Fraud']=df_syn["Aggregated"].str.split('^').str[6]
df_syn['Critical Fraud']=df_syn["Aggregated"].str.split('^').str[7]
df_syn = df_syn.drop(['Aggregated'],axis=1)

In [27]:
df_syn

,Declaration ID,Date,Office ID,Process Type,Import Type,Import Use,Payment Type,Mode of Transport,Declarant ID,Importer ID,...,Courier ID,Country of Origin Indicator,HS10 Code,Country of Departure,Country of Origin,Tax Rate,Tax Type,Net Mass,Fraud,Critical Fraud
0,48649605,2020-10-04,31,B,11,21,19,40,E3Q8ABV,FAQBBWS,...,NaN,G,9031809099,PH,JP,1.3,C,11.9,1,1
1,83990938,2021-05-22,41,B,11,21,44,10,86E3KB0,B6SDM52,...,NaN,E,6106201000,VN,VN,0.0,FVN1,79.8,0,0
2,50667114,2020-09-03,40,B,11,21,43,10,X09KN33,IKSA5YW,...,NaN,E,2906199000,CN,CN,0.0,FCN1,100.0,0,0
3,11390124,2020-08-12,21,B,84,21,11,10,MRTAD2U,0T9AY7N,...,NaN,G,8301401010,CN,CN,8.0,A,6.0,0,0
4,51191871,2020-09-10,20,B,11,21,11,10,IBG3A46,3X6GY58,...,NaN,G,6403999000,IT,IT,0.0,FEU1,2.7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,92685568,2021-02-01,32,B,10,21,45,11,OZB7KED,Y7K2P0D,...,NaN,G,6403999000,MT,CN,13.0,A,100.0,1,1
2996,24146768,2020-10-06,40,B,85,12,44,10,AZI5L7O,89P0ZBF,...,PIAN6F,Y,6206401000,CN,CN,13.0,A,217.0,0,0
2997,98823569,2021-02-01,41,B,10,21,45,41,ACL5K0W,51RX2UZ,...,NaN,G,6204599000,ES,CN,13.0,A,13.2,0,0
2998,41805945,2020-07-30,40,B,11,21,11,11,H1ZUISK,5W9THF3,...,NaN,E,6104520000,FR,TR,13.0,A,10.0,0,0
2999,38914966,2020-03-12,41,B,10,21,43,40,E3Q8ABV,WVW45QU,...,W6UCD9,S,8518309000,CN,CN,4.8,FCN1,2.4,0,0

# Save Generated Data

In [29]:
df_syn.to_csv('./data/df_syn_example.csv', index=False)